
<h1> Conversor WCF</h1>

<form method="post">
    <label>Introduzca numeros</label>
    <input type="text" name="numeros" class="form-control"/>
    <button class="btn btn-info">
        Mostrar datos
    </button>
</form>

<h2 style="color:blue;">
    @ViewData["DATOS"]
</h2>